{% extends 'base.html' %}
{% block title %}Password Reset Done{% endblock title %}
{% block content %}
    <div class="container flex items-center justify-center mx-auto md:h-screen">
        <div class="w-3xl border border-gray-300 p-12 rounded-lg shadow-md ">
            <h2 class="text-center text-2xl font-semibold mb-3">Check Your Inbox</h2>
            <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
                your
                spam folder.</p>
            <div class="mx-auto text-center mt-6">
                <button class="px-6 py-3 bg-blue-500 text-white rounded-xl"><a href="{% url 'store:store' %}">Back to Store</a></button>
            </div>
        </div>
    </div>
{% endblock content %}