{% extends 'base.html' %}
{% block title %}Email Verification Success{% endblock title %}
{% block content %}
    <div class="container md:h-screen flex items-center justify-center mx-auto">
        <div class="text-center bg-gray-600 text-white p-12 rounded-lg">
            <div class="flex justify-center mb-6 text-green-600">
                <i class="fa-solid fa-check fa-3x "></i>
            </div>
            <h1 class="text-xl font-semibold">Your account is now verified!</h1>
            <hr class="my-4">
            <p class="text-base">You can now proceed.</p>
        </div>
    </div>
{% endblock content %}
